# Ambientes Virtuais
venv/
env/
.env
.venv
ecommerce_venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.$py.class

# Arquivos de IDE
.vscode/
.idea/

# Logs e arquivos temporários
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Arquivos de configuração local do Airflow
airflow_settings.yaml
airflow.cfg
airflow.db
webserver_config.py
airflow-webserver.pid

# Diretórios do Astro CLI
.astro/

# Chaves de Service Account e configurações sensíveis
*.json

# Notebooks
.ipynb_checkpoints